@charset "UTF-8";
/*
* Project: Webdevtest (Scientific Games)
* Author: Bálint Szabó
*/
/*  @info: Wide view is enabled above 480px */
/*  @info: Banners have 677px width */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

img {
  width: 100%;
  max-width: 677px;
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
}

a:link, a:visited {
  color: #036dbe;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: #222222;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

@media only screen and (min-width: 481px) {
  .hide-md {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .hide-xs {
    display: none;
  }
}
/*
* Promotion List
*/
#promotion-list {
  padding-top: 1rem;
  max-width: 677px;
  margin: auto;
}
@media only screen and (max-width: 677px) {
  #promotion-list {
    padding: 1rem;
  }
}
#promotion-list .promotion-list-item {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
#promotion-list .promotion-link {
  font-size: 24px;
  font-weight: bold;
  color: #036dbe;
}
#promotion-list .promotion-summary, #promotion-list .next-draving {
  font-size: 14px;
  color: #444444;
}

/*
* Promotion View
*/
#promotion-view {
  padding: 1rem;
}
#promotion-view .promotion-view-item {
  max-width: 750px;
  margin: auto;
}
#promotion-view .draving-schedule, #promotion-view .total-tickets-entered {
  font-size: 18px;
  color: #000000;
}
#promotion-view .summary-text, #promotion-view .promotion-view-item {
  font-size: 14px;
  line-height: 24px;
  color: #444444;
}
#promotion-view .promotion-view-item img {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
#promotion-view .promotion-view-item .summary-text {
  margin-bottom: 2.5rem;
}
#promotion-view .next-entry-deadline {
  text-align: center;
  line-height: 1.1;
}
#promotion-view .table-md {
  margin: auto;
  width: 100%;
  border-spacing: 0.33rem;
  text-align: center;
}
#promotion-view .table-md thead {
  background-color: #666666;
  color: #ffffff;
}
#promotion-view .table-md thead tr {
  text-transform: uppercase;
  font-weight: bolder;
}
#promotion-view .table-md tbody {
  background-color: #cccccc;
}
#promotion-view .table-md tr td {
  padding: 0.45rem;
}
#promotion-view .table-xs {
  margin: 0;
  width: 100%;
  border-spacing: 0px;
}
#promotion-view .table-xs tbody tr:last-child td {
  border-bottom: 2px solid #c7c7c7;
}
#promotion-view .table-xs tbody tr td {
  padding: 0.45rem;
  height: 4rem;
  vertical-align: top;
  background-color: #e2e2e2;
  border-bottom: 1px solid #e6e6e6;
}
#promotion-view .table-xs tbody tr td:first-child {
  font-weight: 800;
  text-transform: uppercase;
  vertical-align: top;
}
@media only screen and (max-width: 480px) {
  #promotion-view .promotion-view-item-info {
    width: 90%;
    margin: auto;
  }
  #promotion-view .next-entry-deadline {
    font-size: 24px;
    font-weight: bold;
    color: #b20000;
  }
  #promotion-view .entries-locked {
    color: #b20000;
  }
}

@media only screen and (min-width: 481px) {
  .promotion-bg {
    background-image: linear-gradient(#cccccc, #ffffff);
  }
}
/*
* Additional design
*/
@media only screen and (max-width: 480px) {
  .promotion-link, .promotion-name {
    font-size: 18px;
  }
}

/*# sourceMappingURL=webdevtest.css.map */
